{% include 'templates/header.html' %}
{% include 'templates/navbar.html' with nav %}
<body>
    <div class="row profile">
        <div class="col-md-3">
            <div class="epit-logo">
                <img src="/Epitaphis/resources/images/epitaph-01.svg">
            </div>
            <div class="profile-sidebar">
                {% if owner %}
                <form method="post" action="profile.php?id={{ profile_user_id }}">
                {% endif %}
                            <!-- SIDEBAR USERPIC -->
                            <div class="profile-userpic">
                                <script>
                                    function toggleProfilePictures(e)
                                    {
                                        var profile_picture_list = document.getElementById("profile_picture_list")
                                        if (profile_picture_list.hidden==true)
                                        {
                                            profile_picture_list.hidden=false;
                                        }
                                        else
                                        {
                                            profile_picture_list.hidden=true;
                                        }
                                    }
                                    function selectPicture(e, id, path)
                                    {
                                        var profile_picture_list = document.getElementById("profile_picture_list")
                                        var profile_picture_id=document.getElementById("profile_picture_id");
                                        var selected_profile_picture = document.getElementById("selected_profile_picture");
                                        profile_picture_list.hidden=true;
                                        profile_picture_id.value=id;
                                        selected_profile_picture.src="/Epitaphis/resources/images/profile_photos/"+path
                                    }
                                </script>
                                <img id="selected_profile_picture" src="/Epitaphis/resources/images/profile_photos/{{ profile_picture_path }}">
                                    {% if owner %}
                                    <input type="hidden" id="profile_picture_id" name="profile_picture_id" value="{{ profile_picture_id }}"></input>
                                    <button type="button" class="btn btn-default profile-button" onclick="toggleProfilePictures(event);">Choose profile picture</button>
                                    <ul id="profile_picture_list" class="profile-pic-list" hidden=true>
                                    {% for row in image_rows %}
				    <li>
                                        <button type="button" onclick="selectPicture(event, {{ row['id'] }}, '{{ row['path'] }}')">
                                            <image src="/Epitaphis/resources/images/profile_photos/{{ row['path'] }}"></image>
                                        </button>
                                    </li>
                                    {% endfor %}
                                </ul>
                                    {% endif %}
                                <!-- END SIDEBAR USERPIC  -->
                                <!-- SIDEBAR USER TITLE -->
                                <div class="profile-usertitle">
                                <div class="profile-usertitle-name">
                                    {{ firstName ~ " " ~ lastName}}
                                </div>
                                <div class="profile-user-bio">
                                    {% if owner %}
                                    <input type="hidden" name="profile_user_id" value="{{ profile_user_id }}"></input>
                                    <label class="form-label">Bio:</label>
                                    <input type="text" name="bio" placeholder="Tell us about yourself" value="{{ bio }}">
                                    <div class="submit-button"><input class="btn btn-primary profile-submit-button" type="submit" value="SUBMIT"></div>
                                    {% else %}
                                        {{ bio }}
                                    {% endif %}
                                </div>
                                <!-- END SIDEBAR USER TITLE -->
                                <!-- SIDEBAR MENU START -->
                                <div class="profile-userbuttons">
                                    {% if not(owner) %}
                                    <form method="post" action="followUser.php">
                                        {% if followed %}
                                        <button class="btn btn-success">Unfollow</button>
                                        <input type="hidden" name="followUser{{ profile_user }}" value="unfollow"/>
                                        {% else %}
                                        <button class="btn btn-success">Follow</button>
                                        <input type="hidden" name="followUser{{ profile_user }}" value="follow"/>
                                        {% endif %}
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
            {% if owner %}
                    </form>
                    {% endif %}
		    </div>
                <div class="col-md-9">
			<div class="quote">be yourself, because that is who we love :)
		    </div>
                    <div class="profile-content">
                        <h1>Update your goals!</h1>
                            <div class="panel-body">
                                <script>
                                    var boxId = 1;
                                    function addField(e)
                                    {
                                        var end = document.getElementById("test");
                                        var inputGoalName = document.createElement("input");
                                        inputGoalName.type="text";
                                        inputGoalName.name="goal_new"+boxId;
                                        boxId++;
                                        end.appendChild(document.createElement("br"));
                                        end.appendChild(inputGoalName);
                                        end.appendChild(document.createElement("br"));
                                    }
                                    function removeGoal(e, id)
                                    {
                                        var goal_name = document.getElementById("goal_edit"+id);
                                        var goal_button = document.getElementById("goal_button"+id);
                                        if (goal_button.value == "remove")
                                        {
                                            goal_name.disabled=false;
                                            goal_name.style="";
                                            goal_button.value="";
                                        }
                                        else
                                        {
                                            var removeGoal = document.createElement("input");
                                            removeGoal.type="hidden";
                                            removeGoal.name="goal_remove"+id;
                                            goal_button.appendChild(removeGoal);
                                            goal_name.disabled=true;
                                            goal_name.style="background: #CCC;";
                                            goal_button.value="remove";
                                        }
                                    }
                                </script>
                                <form method="post" action="/Epitaphis/profile.php?id={{ profile_user_id }}">
                                    <p>
                                        <input type="hidden" name="profile_user_id" value="{{ profile_user_id }}"></input>
                                        <label class="form-label">Goals:</label>
                                    </p>
                                    <div id="test">
                                        {% for row in rows %}
                                        <br>
                                        <input type="text" id='goal_edit{{ row['goal_id'] }}' name='goal_edit{{ row['goal_id'] }}' value='{{ row['goal'] }}'></input>
                                        <input type="hidden" name='goal_id{{ row['goal_id'] }}' value='{{ row['goal_id'] }}'/>
                                        <button type="button" id='goal_button{{ row['goal_id'] }}' onclick='removeGoal(event, {{ row['goal_id'] }})'>Remove</button>
                                        <br>
                                        {% endfor %}
                                    </div>
                                    {% if owner %}
				    <div class="goal-buttons">
                                        <button type="button" class="btn btn-success" onclick="addField(event)">ADD A NEW GOAL</button>
                                        <input class="btn btn-primary" type="submit" value="SUBMIT GOAL CHANGES" />
				    </div>
				    {% endif %}
                                </form>
                            </div>
                        </div>
		    </div>

	    </div>
</body>
</html>
